<div id="map" style="width:800px; height:500px"></div>
<script type="text/javascript">
//<![CDATA[
if (GBrowserIsCompatible()) {
  var map = new GMap2(document.getElementById("map"));
  map.setCenter(new GLatLng(32.74207489599587, 129.87160563468933), 18);
}
//]]>
</script>
