div.calendarHeader {
    background: ActiveCaption; 
    padding: 0px; 
    border-bottom: 1px solid WindowText;
}
div.calendarHeader select.era {padding: 0px; margin: 2px; width: 55px; height: 18px; }
div.calendarHeader select.month {padding: 0px; margin: 2px; width: 55px; height: 18px; }
div.calendarHeader input.year {padding: 1px 0px; margin: 2px; width: 32px; height: 14px; text-align: right;}
div.calendarHeader button.prevMonth { padding: 0px 3px; }
div.calendarHeader button.nextMonth { padding: 0px 3px; }

div.calendarBody th.weekNumberHead { text-align: left; }
div.calendarBody th.weekDayHead { font-weight: bold; border-bottom: 1px solid WindowText; }
div.calendarBody table.grid {
    border-collapse: separate;
    border-spacing: 1px;
    empty-cells: show;
    font: small-caption;
    font-weight: normal;
    text-align: center;
    color: WindowText;
    cursor: default;
}
div.calendarBody td.weekNumber {
    width: 16px;
    width: 15px;
    padding: 3px;
    text-align: right;
    font-weight: normal; 
    text-align: right;
}
div.calendarBody td.today { font-weight: bold; }
div.calendarBody td.current { 
    border: 1px dotted WindowText; 
    padding: 2px;
}
div.calendarBody table.footerTable {
    font: small-caption;
    font-weight: normal;
    text-align: center;
    color: WindowText;
    cursor: default;
}