<h1>Editing book_title</h1>

<% form_tag :action => 'update', :id => @book_title do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @book_title %> |
<%= link_to 'Back', :action => 'list' %>
