<% for column in BookTitle.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @book_title.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @book_title %> |
<%= link_to 'Back', :action => 'list' %>
