<%= error_messages_for 'book_title' %>

<!--[form:book_title]-->
<p><label for="book_title_title">Title</label><br/>
<%= text_field 'book_title', 'title'  %></p>

<p><label for="book_title_authors">Authors</label><br/>
<%= text_field 'book_title', 'authors'  %></p>

<p><label for="book_title_publisher">Publisher</label><br/>
<%= text_field 'book_title', 'publisher'  %></p>

<p><label for="book_title_isbn">Isbn</label><br/>
<%= text_field 'book_title', 'isbn'  %></p>
<!--[eoform:book_title]-->

